
body{background-color: blue;}

h1{background-color: yellow; 
color: red; 
text-align: center; border-style: groove;
font-family: sans-serif; font-style: italic;
border-radius: 20px; border-top: 3px;
margin-top: 5px;}

p{color: black;
font-family: Arial; font-style: oblique;
font-size: 20px;
text-align: center;}

.image{display: block;
margin-left: auto;
margin-right: auto;
border-radius: 40%;
width: 50%;}




